body:has(.layout-mfa-create){ 
    background-color: #fafdff !important;}
.layout-mfa-create{
        background-color: #fafdff !important;

    .sign-img{
        background-image: url(../assets/images/login-bg.jpg);
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    h5.ant-typography {
        margin-top: 0 !important;
    }
    .sign-img img{width: 200px;
        margin-bottom: 50px;}
        .form-container{
display: flex;
justify-content: center;
align-items: center;
        }
  
        h1.ant-typography {
            margin-bottom: -0.5em;}
            .btns-gm{
                display: flex;
                margin-bottom: 10px;
            }
            .btns-gm  .ant-btn-default{
         
           
                width: 48%;
                margin-right: 2%;
               
            }
           
          
        
         
           
                @media (min-width: 1281px) {  .signinform{
         
                    width: 40%;
                     }
                     .sign-img {
                        border-right: solid .5px #99B1C3;
                     }
        
                }

                @media (max-width: 1280px) {  .signinform{
         
                    width: 60%;
                     }
                     .sign-img{
                   
                        background-repeat: no-repeat;
                        background-position: center;
                      background-size: cover;
                      border-bottom: solid .5px #99B1C3;
                      justify-content: center;
                     
                    }
                    .sign-img img {
                        width: 140px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                    }
                    .form-container {
                        
                    
                        margin-top: 10px;
                    }
                    h3.ant-typography, h5.ant-typography, .sub-text {
                        text-align: center;
                    }

                }
                @media (max-width: 575px) { 
                    .signinform{
         
                        width: 95%;
                         }}
         
                
                         .border-div {
                            border: 1px solid #99B1C3;
                            border-radius: 6px;
                            padding: 16px;
                            display: flex;
                            align-items: center;
                            margin-top: 10px;
                            justify-content: space-between;
                            position: relative;
                            cursor: pointer;
                          }   
                          .border-div:hover{
                            border: 1px solid #013C68;
                          }    
                          .rec-padge{
                            background-color:#52C41A;
                            border-radius: 5px;
                          
                            padding: 4px 12px;
                            color: white;
                            font-weight: "bold";
                            position: absolute;
                            right: 5px;
                            top: 5px;
                          }
                      .border-div svg
                    {
                        width: 35px;
                    }

                 
                

             
}

/* modal content */
.authen-btn{
    display: flex;
    flex-wrap: wrap;
}

.apps-link{
    display: flex;
    border: #99B1C3 solid 1px;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 height: 55px;
 padding: 10px;
 margin-right: 10px;
 margin-top: 10px;
 transition: all .6s;
}
.apps-link:hover{

    border: #013C68 solid 1px;
}
.apps-link h6{
    font-size: 14px;
    margin-left: 5px;
    line-height: 1.2em;

}

.how-to li{
    margin-bottom: 10px;
}